.mentor-event-list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right:10px;
    border: solid #74435b 4px;
    border-radius: 8px;
    width: 100%;
}

.assigned-mentors {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color:#a5778e;
    color: #47112c;

}

.assigned {
    background-color: #45818e;
}

.current {

    font-size: 20px;
    text-align: center;
}

.current h3 {
    color: #45818e;
    padding: 20px;

}


.mentor-changes-title {
    text-align: center;
    font-size: 20px;
    margin-bottom:20px;
    margin-top: 20px;
    color: white;
    
}

.mentor-changes-title h3 {
    padding: 10px;
}

.mentor-changes {
    background: #e7cdda;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom:20px;
    border-radius: 4px;
    border: solid;
}

.remove-mentors, .add-mentors {
    text-align: center;
    font-size: 16px;
}


.mentors {
    border: #724a5e83 solid;
    border-radius: 4px;
    margin-left: 8px;
    padding: 6px;
}


.confirm-div {
    display: flex;
    flex-direction: row-reverse;
}

.confirm {
    padding: 20px;
    margin-top: 20px;
    margin-right:20px;
    align-content: right;
    background-color: #a5778e;
    color: white;
    border-radius: 4px;
    border:#74435b solid;
    cursor: pointer;
}



.event-details {
    font-size: 20px;
    margin: 25px;
}

.mentors-confirmed {
    border: solid rgba(255, 255, 255, 0.384);
    padding: 4px;
    border-radius: 4px;
    margin: 4px;
    color: white;
    background-color:#45818e;

}
