.edit-mentor-container {
    background-color: #45818e;
    border: solid #134f5c;
    color: #134f5c;
    border-radius: 10px;
    width: 50%;
    margin: 20px;
    padding: 10px;
}

.edit-mentor-container p, li, label {
    color:white;
}

.edit-mentor-container h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.mentor-information {
    display: flex;
    flex-wrap: wrap;
    border: solid white;
    border-radius:4px;
    color:white;
}

.mentor-information a {
    color: white;
    font-size: 20px;
    margin: 20px;
    text-decoration: underline;
}

.drop-downs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.drop-downs select {
    text-align: left;
    background-color: white;
    border: none;
    color:#134f5c;
    font-weight: bold;
    padding:0;
    /* margin:0; */
    width: 80%;
    height:30px;
}

.input-area {
    display: flex;
    flex-direction: column;
}

.input-area label {
    font-size: 20px;
    margin-left: 20px;
}

#private_notes {
    margin: 15px;
    padding: 10px;
    border-radius: 4px;

}

.drop-downs option {
    text-align: left;
}

.edit-mentor-form {
    
    border: #134f5c solid;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.edit-mentor-form li:hover {
    cursor: pointer;
}

#edit-mentor-submit {
    margin-left: 20px;
    border:#134f5c solid;
    color:#134f5c;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.manage-mentor {
    margin-left: 20px;
    border:#134f5c solid;
    color:#134f5c;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}