@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.background-img {
    position: absolute;
    z-index: -10;
    right: 0;
    top: -4rem;
    height: 100vh;
}

#profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#profile_container_mentor {
    margin: 110px 0px 43px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-profile {
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 900px;
	max-width: 100%;
	min-height: 525px;
}

.profile_title {
    margin: 25px 0px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: var(--dark-blue);
}

#my-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.details1, .details2 {
    display: flex;
    flex-direction: column;
}

/* .container-profile h3{
    font-family: 'Dancing Script', cursive;
    color: var(--dark-blue);
    font-size: 3rem;
    padding-left: 20px;
} */

@media (max-width: 960px) {
    .container-profile {
        width: 800px;
    }
}

@media (max-width: 860px) {
    .container-profile {
        width: 700px;
    }
}

@media (max-width: 760px) {
    .container-profile {
        width: 600px;
    }
}

@media (max-width: 660px) {
    .container-profile {
        width: 500px;
    }

    #my-details {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    .container-profile {
        width: 400px;
    }
}

@media (max-width: 460px) {
    .container-profile {
        width: 360px;
    }

    .profile_title {
        font-size: 4.5rem;
    }
}

@media (max-width: 400px) {
    .container-profile {
        width: 330px;
    }

    .profile_title {
        font-size: 4.3rem;
    }
}

@media (max-width: 350px) {
    .container-profile {
        width: 290px;
    }

    .profile_title {
        font-size: 3.7rem;
    }

    .my-details-paragraph {
        font-size: 1.8rem;
    }
}