.event-list {
    margin: 20px;
    border: solid var(--dark-blue) 4px;
    border-radius: 15px;
    background-color: var(--cream);
    text-align: center;
    width: 30%;
    box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
-webkit-box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
-moz-box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);

}


.event-list ul .event-list li {
    font-size: 2rem;
    margin: 20px;
}

.event-list ul {
    margin-top:30px;
}

.event-list h3 {
    font-family: 'Dancing Script';
    font-size: 40px;
    padding: 30px;
    color: var(--dark-blue);
}

.event-detail {
    display: flex;
    margin: 10px;
    border: solid var(--dark-blue);
    border-radius: 15px;
    justify-content: space-between;
    box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
-webkit-box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
-moz-box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);

}

.action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50px;
    border-radius: 12px;
    margin: 10px;
    cursor: pointer;
}

.event-info {
    width:70%;
}

.search-box {
    border: solid var(--light-blue);
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 20px;
    width:50%;
    min-height: 60px;
    padding-left: 10px;
}

.search-box::placeholder{
    color: var(--light-blue);
    opacity: 0.7;
}
  
  .search-box:hover {
    border: 2px solid var(--dark-blue);
    background: linear-gradient(to left top,  var(--light-blue), var(--cream)) fixed;
  }
  .search-box:focus {
    color: var(--light-blue);
    border: 2px solid var(--dark-blue);
    
  }

.create-event {
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--cream);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    line-height: normal;
    min-height: 60px;
    outline: none;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 200px;
    margin-right: 20px;
}



.event-top{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.assign {
    background-color: var(--pink);
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--dark-blue);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    line-height: normal;
    min-height: 60px;
    outline: none;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 160px;
    margin: 4px;
}


.edit-event {
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--cream);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    line-height: normal;
    min-height: 60px;
    outline: none;
    padding:  4px 22px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 160px;
    margin: 4px;
    
}

.event-button {
    margin: 0px;
    padding: 0px;
    background-color: var(--dark-blue);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: var(--cream);
    text-align: left;
    cursor: pointer;
}

.event-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateX(-1px);
}

.event-button:active {
    box-shadow: none;
    transform: translateX(0);
}



.assign:hover, .edit-event:hover, .create-event:hover  {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
}

.assign:active,  .edit-event:active, .create-event:active {
    box-shadow: none;
    transform: translateY(0);
}