
.mentor-card {
    --dark-pink:#8f647a;

    font-size: 14px;
    border: solid var(--dark-pink);
    border-radius: 15px;
    background-color: var(--pink);
    margin: 8px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.mentor-info p {
    font-size: 16px;
}

.mentor-info li {
    font-size:  16px;
    margin-left: 30px;
}

.assign-buttons {
    width: 30%;
}

.assigning {
    background-color: var(--dark-pink);
    border: 2px solid var(--cream);
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--cream);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    line-height: normal;
    min-height: 40px;
    outline: none;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 100px;
    margin: 4px;
}

.removing {
    height: 30px;
    width: 80%;
    border-radius: 4px;
    background-color: #e7cdda;
    border: solid #ffffff;
    color: #553043;
    cursor: pointer;
}

.assigning:hover, .removing:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
}

.assigning:active,  .removing:active, .create-event:active {
    box-shadow: none;
    transform: translateY(0);
}