.header {
    position: fixed;
    height: 7.6rem;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 9%;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 30px;
}

.logo {
    cursor: pointer;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
    text-decoration: none;
    position: relative;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar a:hover::after, .navbar a.active::after {
    width: 100%;
}

.menu-btn {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* responsiveness */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    .logo {
        padding-left: 25px;
    }

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        z-index: 10;
    }
    
    .menu-burger {
        width: 30px;
        height: 3px;
        background: var(--text-color);
        border-radius: 4px;
        transition: all 0.5s ease-in-out;
    }
    
    .menu-burger::before, .menu-burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: var(--text-color);
        border-radius: 4px;
        transition: all 0.5s ease-in-out;
    }
    
    .menu-burger::before {
        transform: translateY(-9px);
    }
    
    .menu-burger::after {
        transform: translateY(9px);
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 1rem 3%;
        background: var(--bg-color);
        opacity: 0;
        transition: opacity 0.8s 0.3s, clip-path 1s 0.3s;
        clip-path: circle(0% at top right);
    }

    .flex-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .navbar.active {
        opacity: 1;
        clip-path: circle(100%);
    }
    
    .navbar a {
        font-size: 4rem;
        margin: 3rem 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

/* animation */

.menu-burger.open {
    background-color: transparent;
}

.menu-burger.open::before,
.menu-burger.open::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--text-color);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

.menu-burger.open::before {
    transform: rotate(45deg);
}

.menu-burger.open::after {
    transform: rotate(-45deg);
}
