
.mentor-card {
    --dark-pink:#8f647a;
    font-size: 14px;
    border: solid var(--dark-pink);
    border-radius: 15px;
    background-color: var(--pink);
    margin: 10px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
    -webkit-box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.mentor-name-container {
    margin: 4px;
    width:40%;
    
}

.mentor-card-open {
    text-align: left;
    --dark-pink:#8f647a;
    font-size: 14px;
    border: solid var(--pink);
    border-radius: 15px;
    background-color: var(--dark-pink);
    margin: 10px;
    color: var(--text-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
    -webkit-box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 3px 5px 24px -3px rgba(0,0,0,0.41);
}

.mentor-card-open #mentor-name {
    color: var(--cream)
}

.mentor-set-even {
    display: flex;
    width:60%;
    justify-content: space-around;
    align-items: center;
}

#mentor-name {
    color:var(--dark-pink);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Dancing Script';
    margin: 10px;
    padding-bottom: 8px;

  text-shadow: 0px 0px 6px rgba(117, 68, 125, 0.46);
  font-weight: bold;
}

.mentor-info{
    margin: 10px;
}
.mentor-info p {
    font-family: 'Urbanist';
    font-size: 16px;
    color: var(--dark-blue);
    font-weight: bold;
    text-shadow: 0px 0px 4px rgba(116, 111, 117, 0.781);
}


.manage-mentor-detail {
    background-color: var(--dark-blue);
    border: 2px solid var(--cream);
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--cream);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    line-height: normal;
    max-height: 60px;
    outline: none;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 100px;
    margin: 4px;
    

}

.manage-mentor-detail:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
}

.manage-mentor-detail:active {
    box-shadow: none;
    transform: translateY(0);
}


#junior {
    font-family: 'Urbanist';
    background-color: var(--cream);
    padding: 6px;
    border: solid var(--bg-color);
    border-radius: 16px;
    text-align: center;
    margin: 3px;
    font-size: 16px;
    color: var(--dark-pink)
    
}


#mid-level {
    font-family: 'Urbanist';
    background-color: var(--light-blue);
    color: var(--bg-color);
    padding: 6px;
    border: solid var(--bg-color);
    border-radius: 16px;
    text-align: center;
    margin: 3px;
    font-size: 16px;
    
}

#lead {
    font-family: 'Urbanist';
    background-color: var(--dark-blue);
    color: var(--bg-color);
    padding: 6px;
    border: solid var(--bg-color);
    border-radius: 16px;
    text-align: center;
    margin: 3px;
    font-size: 16px;
    
}
