.btn-info {
    background-color:#134F5C;
    color:#eadbd1;
    padding:10px 60px;
    border-radius:10px ;
    margin:10px;
   font-size: 20px;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   touch-action: manipulation;
}

.btn-info:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-3px);
}

.btn-info:active {
  box-shadow: none;
  transform: translateY(0);
}