.login-form{
   
    margin-top: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.login-input{

    padding :15px 40px;
    border-radius: 5px;
    background-color:rgb(238, 227, 227);
    margin-bottom: 20px;
}

.login-form h1{
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

.label-login{
    font-size:15px;
    text-align: left;
}