.event-card{
    background-color: #eadbd1;
    padding:1.5rem;
    border: 2px solid transparent;
    border-radius: 2rem;
    margin: 10px;
    box-sizing: border-box;

    }

.event-title{
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid black;
}

.event-text{
    font-size: 20px;
    text-align: left;
    
}
