.mentor-list{
    margin-top: 20px;
    border:  solid var(--pink) 4px;
    background-color: var(--cream);
    width:100%;
    border-radius: 8px;
}

.mentor-list p {
    color: var(--dark-blue);
    font-weight: bold;
}

#mentor-status-info {
    font-size: 10px;
    font-style: italic;
}
.filter-group {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.filter-group p {
    font-size: 16px;
    margin: 0px;
    align-self: left;
}

.filter {
    background-color:var(--bg-color);
    border: solid ;
    color: var(--dark-blue);
    width: 90%;
    font-size: 15px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 0px;

}

