.mentor-list{
    margin: 20px;
    border: solid black 4px;
}

.mentor-list ul li {
    font-size: 2rem;
    margin: 30px;
}

.mentor-list button {
    margin-left: 10px;
    padding: 8px;
    outline: solid black;
}