.event-crud{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 60%;

}

.event-crud h3 {
    font-family: 'Dancing Script';
    font-size: 30px;
    margin:20px;
}

.event-crud-details {
    width:100%;
    align-content: center;
    display: flex;
    justify-content: center;
    border:solid var(--dark-blue) 4px; 
    background-color: var(--dark-blue);
    border-radius: 8px;
    color: var(--cream);
}

.crud-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}