.event-crud{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 60%;

}

.event-crud-details {
    width:100%;
    align-content: center;
    display: flex;
    justify-content: center;
    border:solid #134f5c 4px; 
    background-color: #45818e;
    border-radius: 8px;
    color: white;
}

.crud-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}