.container-contact{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
}
.contact_title{
 font-size:30px;
 text-align: center;
 margin-bottom: 10px;

}
.label-contact{
    font-size:15px;
}
 .label-contact, .text-contact, .text-area-contact {
    display: block;
    width:100%;
    box-shadow: 0 2px 2px 0 #eadbd1;;
    border-radius: 5px;
}

.text-contact{
    margin-bottom:16px;
  
}

.text-contact, .text-area-contact{
    padding: 8px;
    background-color: #eadbd1;

}
#address{
    padding:50px 16px;
    width:50%;
    height: 100vh;
}
#contact{
    
    padding:50px 16px;
    background-color: rgb(243, 243, 245);
    width:50%;
    height: 100vh;

}

#address  h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 16px;
}
#address  p{
    text-align: center;
    margin: 0px;
}

.contact-map{
    margin-top: 20px;
    text-align: center;
}

#contact  h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 16px;
}

.contact-txt{
    text-align: center;
    font-style:italic;
    font-size: 16px;
    margin-bottom: 20px;
}

#contact form{
    max-width: 60%;
    margin: 0 auto;

}

#contact input[type="submit"]{
    background-color:#134F5C;
    color:#F3F6F4;
    font-size:24px;
    border: 0;
    margin-top: 24px;
    padding:16px;
    border-radius: 10px;
    cursor: pointer;
    width:100%;
}

@media screen and (max-width:900px){
    .container-contact{
        display: flex;
        flex-direction: column;
    }

    #address{
        padding-top:50px;
        width:100%;
    }

    #contact{
    
      
        background-color: rgb(243, 243, 245);
        width:100%;
        
    
    }
}

