@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.mentor-dashboard {
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    justify-content: space-between;
    border: solid #134f5c;
    border-radius: 20px;
    margin-left:20px;
    margin-right: 20px;
}

.no-content-yet{
    width: 60%;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    
}
