#not-found {
    margin: 120px;
    text-align: left;
    }

#not-found h1 {
    margin-top: 50px;
    margin-bottom: 24px;
    font-size: 4rem;
    text-align: center;
    }

#not-found h2 {
    margin-bottom: 12px;
    font-size: 2rem;
    text-align: center;
    }

#not-found p {
    font-size: 1.5rem;
}

#not-found .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (min-width: 768px) {
    #not-found img {
    max-width: 60%;
    }
    }